body{
  background-color:whitesmoke;
  font-family:Calibri;
  text-align:justify;
}
#menu{
  background-color:white;
}

#titulo{
  text-align:center;
  font-family:Arial Black;
  color:#053B28;
  align-content:center;
}

#Mundilibb{
    text-align:left;
  font-family:Arial Black;
  color:#053B28; 
  align-content:stretch;
}

#Recuerdos{
    text-align:left;
  font-family:Arial Black;
  color:#053B28;
  align-content:stretch;
}
